<div class="compare-pokemon">
  <app-selected-pokemon
    class="selected__left"
    [no]="1"
    [pokemon]="selectedPokemon1"
  ></app-selected-pokemon>
  <app-result-comparison
    class="result"
    [selectedPokemon1]="selectedPokemon1"
    [selectedPokemon2]="selectedPokemon2"
  ></app-result-comparison>
  <app-selected-pokemon
    class="selected__right"
    [no]="2"
    [pokemon]="selectedPokemon2"
  ></app-selected-pokemon>
  <app-select-pokemon
    class="select__left"
    [no]="1"
    (selectPokemonChange)="selectPokemon($event)"
    [selectedPokemon]="selectedPokemon1"
  ></app-select-pokemon>
  <app-select-pokemon
    class="select__right"
    [no]="2"
    (selectPokemonChange)="selectPokemon($event)"
    [selectedPokemon]="selectedPokemon2"
  ></app-select-pokemon>
</div>
