@import "functions";
@import "variables";

.selected-image {
  width: auto;
  height: rem(360px);
  padding: rem(32px);
  margin-bottom: rem(16px);
  border-radius: rem(24px);
}

.images {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: rem(8px);
}

.image {
  flex-shrink: 0;
  padding: rem(16px);
  width: rem(96px);
  height: rem(96px);
  margin-left: rem(16px);
  border-radius: rem(24px);
  transition: background 0.3s;
  &:first-child {
    margin-left: rem(0px);
  }
  &--active,
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
