@import "functions";
@import "variables";

.not-found {
  padding: rem(24px) rem(32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - rem(208px));
  border-radius: rem(24px);
  &__image {
    height: rem(160px);
    width: auto;
    margin-bottom: rem(32px);
  }
  &__message {
    font-size: $font-md;
    font-weight: 600;
    margin-bottom: rem(32px);
  }
}
