@import "functions";
@import "variables";

.select-pokemon {
  padding: rem(32px) rem(24px);
  border-radius: rem(24px);
  &__title {
    font-size: $font-lg;
    margin-bottom: rem(16px);
  }
  &__list {
    height: rem(560px);
    overflow-y: auto;
  }
}

.pokemon {
  display: flex;
  align-items: center;
  margin-bottom: rem(8px);
  padding: rem(4px) rem(8px);
  border-radius: rem(12px);
  border: rem(1px) solid rgba(255, 255, 255, 0);
  transition: background 0.3s, border 0.3s;
  cursor: pointer;
  &:last-child {
    margin-bottom: rem(0px);
  }
  &:hover,
  &--selected {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(rem(11px));
    border: rem(1px) solid rgba(255, 255, 255, 0.18);
    z-index: 1;
  }
  &__image {
    flex-shrink: 0;
    width: rem(32px);
    height: rem(32px);
    margin-right: rem(8px);
  }
  &__name {
    flex-grow: 1;
    margin-right: rem(8px);
  }
  &__type {
    flex-shrink: 0;
    width: rem(24px);
    height: rem(24px);
  }
}

.loading {
  height: 100%;
  min-height: rem(560px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__image {
    width: rem(160px);
    height: rem(160px);
    margin-bottom: rem(16px);
  }
  &__text {
    font-size: $font-md;
    font-weight: 700;
  }
}
