<header class="glass-background">
  <div id="header" class="header">
    <a routerLink="/pokemon">
      <div class="company">
        <div class="company__logo">
          <img src="/assets/images/app-logo.png" alt="Pokemon App" />
        </div>
      </div>
    </a>
    <div class="menu">
      <a
        routerLink="/pokemon/compare"
        class="button button-sm button-secondary-100 compare"
      >
        <div class="compare__content">
          <img src="/assets/images/compare.png" alt="Compare Pokemon" />
        </div>
      </a>
    </div>
  </div>
</header>
