@import "variables";
@import "functions";

.tag {
  width: fit-content;
  font-weight: 600;
}

.tag-primary-100 {
  background-color: $primary-100;
  color: $white;
  box-shadow: 0 rem(5px) rem(15px) rgba($primary-100, 0.4);
}

.tag-sm {
  border-radius: rem(4px);
  font-size: $font-sm;
  padding: rem(4px) rem(8px);
}

.tag-md {
  border-radius: rem(8px);
  font-size: $font-base;
  padding: rem(8px) rem(16px);
}

.tag-lg {
  border-radius: rem(12px);
  font-size: $font-md;
  padding: rem(16px) rem(24px);
}
