$primary-100: #f7c505;
$primary-90: #f8cb1e;
$primary-80: #f9d137;
$primary-70: #f9d650;
$primary-60: #fadc69;
$primary-50: #fbe282;
$primary-40: #fce89b;
$primary-30: #fdeeb4;
$primary-20: #fdf3cd;
$primary-10: #fef9e6;

$secondary-100: #3263aa;
$secondary-90: #4773b3;
$secondary-80: #5b82bb;
$secondary-70: #7092c4;
$secondary-60: #84a1cc;
$secondary-50: #99b1d5;
$secondary-40: #adc1dd;
$secondary-30: #c2d0e6;
$secondary-20: #d6e0ee;
$secondary-10: #ebeff7;

$grey-100: #212121;
$grey-90: #424242;
$grey-80: #616161;
$grey-70: #757575;
$grey-60: #9e9e9e;
$grey-50: #bdbdbd;
$grey-40: #e0e0e0;
$grey-30: #eeeeee;
$grey-20: #f5f5f5;
$grey-10: #fafafa;

$background: #101825;
$white: #ffffff;
$scroll-thumb: #282f3b;
